body {
    box-sizing: border-box;
    background-color: #F5F5F5;
    margin: 0;
}

header {
    padding: 0 3em 0 3em;
    display: flex;
    flex-direction: row;
    /*border: 1px solid red;*/
    justify-content: space-between;
    align-content: space-between;
}
main {
    margin-top: 3em;
    margin-bottom: 3em;
}


#userLogo {
    color: #0015BC;
    align-self: center;
    font-size: 3em;
    cursor: pointer;
}

.form_st {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

label ~ input {
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
}