body{
    box-sizing: border-box;
    background-color: aliceblue;
}
label ~ input {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
}

label {
    color: #2E4057;
    font-size: 20px;
}
